@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.py-82 {
    padding-top: 82px;
    padding-bottom: 118px;
}

.mb-100 {
    padding-bottom: 100px;
}

.color-black {
    color: #333;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.navbar-expand-lg .navbar-nav {
    color: #333;
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.navbar-section {
    gap: 80px; 
}

.navbar-nav {
    gap: 42px;  
}

.btn {
    padding: 8px 24px;
    border-radius: 30px;
}
.line{
    border-right: 1px solid;
    padding-right: 18px;
    color: #C9C9C9;
}
.navbar-icon{
    padding: 12px 20px;
    gap: 18px;
    border-radius: 500px;
    background:  #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.btn-primary {
    background: #006CD2;
    color: #FFF;
}

button,a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo {
    max-width: 40px;
    height: auto;
    margin-top: 10px;
}

.fs-p{
    color:  #575757;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1 {
    font-size: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    color: #0078D4;
}

h2 {
    font-size: 38px;
    color: #333;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    font-family: Nunito;
    font-size: 17px;
    color: #575757;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.mb-80 {
    margin-bottom: 80px;
}

.card {
    padding: 30px;
    gap: 30px;
    border-radius: 14px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    box-shadow: 0px 1px 30px 0px rgba(124, 124, 124, 0.15);
}

.card:hover {
    border: 1.5px solid #FF8600;
    background: #FFF6ED;
    box-shadow: 0px 4px 20px 0px rgba(220, 47, 2, 0.25);
    cursor: pointer;
}

.hyper p {
    color: #575757;
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
}

.color-01{
    opacity: 1;
    background: #FAFAFA;
}

.bg-light{
    opacity: 1;
    background: #FAFAFA;
}

.logo svg {
    border-radius: 12px;
    background: #006CD2;
}

.ibn-blue {
    border-radius: 12px;
    background: #006CD2;
}
.font-color-1{
    color:  #333;
}

.ins-p {
    color: #575757;
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.1%;
}

.server-section svg {
    min-width: 17px;
    height: auto;
}

.bg-sky {
    background: var(--button-gradient, linear-gradient(93deg, #D7EBFF 3.2%, #EDF6FF 98.54%));
}

.form-control {
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid #CCC;
}

.Message {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #CCC;
}

form {
    padding: 82px 84px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 1px 30px 0px rgba(124, 124, 124, 0.15);
}

.atta {
    padding: 12px;
    border-radius: 6px;
    background: #FFEBD7;
}

form button {
    width: 307px;
    padding: 12px 30px;
    border-radius: 30px;
    background: #006CD2;
}

.button-Dial {
    color: var(--final-blue, #006CD2);
    padding: 12px 30px;
    border-radius: 50px;
    background: var(--button-gradient, linear-gradient(93deg, #D7EBFF 3.2%, #EDF6FF 98.54%));
}

.fix {
    padding: 22px 24px;
    border-radius: 12px;
    border: 1px solid #C8C8C8;
    background: #FFF;
}

.fix:hover {
    border: 1px solid #FF8600;
    background: #FFF6ED;
    box-shadow: 0px 4px 20px 0px rgba(255, 134, 0, 0.20);
}

.card-services {
    padding: 30px;
    gap: 30px;
    border-radius: 14px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    box-shadow: 0px 1px 30px 0px rgba(124, 124, 124, 0.15);
}

footer {
    background: #FFF6ED;
}

.origen-text {
    color: var(--final-blue, #006CD2);
}

.footer-icon {
    padding: 14px 20px;
    border-radius: 500px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.text-body {
    text-decoration: none;
    font-weight: 400;
    line-height: 200%;
}

.text-uppercase {
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 68px;
}

.grid img {
    padding: 1rem;
    display: grid;
    align-items: center;
}

.btn-secondary{
    color: #006CD2;
    padding: 12px 30px;
    border-radius: 50px;
    background: var(--button-gradient, linear-gradient(93deg, #D7EBFF 3.2%, #EDF6FF 98.54%));
}



@media screen and (max-width: 1197.7px) {
.py-120 {
    padding-top: 60px;
    padding-bottom: 60px;
}
h1{
    font-size: 30px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 18px;
}
 p{
    font-size: 16px;
}

.btn{
    padding: 5px 18px;  
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.fix {
    padding: 16px 7px;
}

form {
    padding: 30px 18px;
}
}

@media screen and (max-width: 991.7px) {

.py-120 {
    padding-top: 60px;
    padding-bottom: 60px;
}

h1 {
    font-size: 28px;
}
h2{
    font-size: 26px;
}

h3{
   font-size: 17px;
}

h5{
    font-size: 20px;
}

p{
   font-size: 15px;
}

.btn {
   padding: 5px 13px;  
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
}

@media screen and (max-width: 767.7px) {
.py-120 {
     padding-top: 60px;
     padding-bottom: 60px;
 }
    
h1 {
    font-size: 25px;
}
    
h2 {
    font-size: 26px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 15px;
}

form {
    padding: 30px 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
}


@media screen and (max-width: 575.7px) {

.py-120 {
    padding-top: 60px;
    padding-bottom: 60px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 15px;
}

.btn {
    padding: 8px 24px;  
}

.card {
    padding: 30px;
    gap: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.fix {
    padding: 16px 7px;
}

form {
    padding: 30px 18px;
}
.form-control{
    font-size: 14px;
    padding: 6px 12px;
}

}